@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-family: Helvetica, Arial, sans-serif;
    
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #323232;
}

p {
    margin: 0;
    padding: 0;
}

.for-reading {
    margin-right: 20%;
    margin-left: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

nav,
footer {
    box-shadow: 0px 0px 20px rgba(117, 117, 117, 0.15);
}

nav {
    margin-bottom: 42px;
}

.nav-item {
    font-size: 15px;
}

a {
    color: rgb(15, 52, 175);
}

a:hover {
    color: rgb(90, 116, 199);
}

a, input, button, .btn-link, .btn, textarea {
    border-radius: 1px !important;
    transition: all 0.3s ease-out;
}

h2 {
    font-weight: bold;
    color: rgb(55, 55, 55);
    text-align: center;
}

footer {
    bottom: 0;
    clear: both;
    margin-top: 142px;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .for-reading {
        margin-right: 0%;
        margin-left: 0%;   
    }

    .nav-item {
        margin-top: 20px;
        font-size: 25px;
    }

    nav img {
        height: 42px;
    }
}
